{% extends "base.html" %}
{% block content %}

{% if complete_assessments %}
<h2>Complete Assessments</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Module Code</th>
            <th>Assessment Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for assessment in complete_assessments %}
        <tr>
            <td>{{ assessment.module_code }}</td>
            <td>{{ assessment.assessment_title }}</td>
            <td>{{ assessment.description }}</td>
            <td>{{ assessment.due_date }}</td>
            <td>
                <div class="d-flex flex-row align-items-start">
                    <form action="{{ url_for('toggle_complete', id=assessment.id) }}" method="post" class="m-0">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-warning btn-sm mx-1">Mark Incomplete</button>
                    </form>
                
                    <form action="{{ url_for('delete', id=assessment.id) }}" method="post" class="m-0">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-danger btn-sm mx-1" 
                                onclick="return confirm('Are you sure you want to delete this assessment?');">
                            Delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>No complete assessments</h2>
<br>
{% endif %}

{% endblock %}