{% extends 'base.html' %}
{% block content %}
<h1>{{ 'Edit' if form.module_code.data else 'Create' }} Assessment</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.module_code.label(class="form-label") }}
        {{ form.module_code(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.assessment_title.label(class="form-label") }}
        {{ form.assessment_title(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.due_date.label(class="form-label") }}
        {{ form.due_date(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}