{% extends "base.html" %}

{% block content %}
    <h1>Store</h1>
    <div class="container">
    <h1 class="text-center my-4">Object Cards</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for product in products %}
    <div class="col">
        <div class="card">
            <img src="{{ product.image }}" class="card-img-top" alt="Image for {{ product.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Category: {{ product.category }}</h6>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Price: ${{ product.price }}</p>
                <button class="btn btn-primary add-to-basket" product-id="{{ product.id }}">Add to Basket</button>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    </div>

    <script src="../static/js/add_to_basket.js"></script>
{% endblock %}